.results .top{
    display: none;
}

.results .center{
    display: none;
}

.results .bottom{
    display: none;
}

.results .all{
    display: block;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 100%;
    width: 690px;
}

.results .all{
    clear: both;
    min-width: 833px;
    margin-left: 0;
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    margin: 0;
    background: #fff;
    color: #202124;
    width: 1261px;
}


.results .first-line{
    display: flex;
    align-items: center;
    width: 1261px;
}

.results .logo{
    padding: 4px 55px 0px 30px;

}

.results .serch-space{
    background: #fff;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    height: 39px;
    width: 690px;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin-right: auto;
}


.results .search-text{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0px 4px 0px 18px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex-grow: 1;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;

}

.results .icons{
    display: flex;
    align-items: center;
    height: 48px;
}

.results .cross-item{
    display: block;
    padding-right: 20px;
    padding-left: 8px;
}

.results .horizontal-line{
    border-left: 1px solid #dfe1e5;
    height: 65%;
    line-height: 44px;
    color: #202124;
    padding-right: 20px;
}


.results .keybord{
    padding-right: 20px;
}

.results .microphone{
    padding-right: 20px;
}

.results .lupe-blue{
    padding-right: 20px;
}

.results .menu_dots{
    opacity: 0.7;
    filter: alpha(opacity=40);
    padding: 8px;
    margin-right: 8px;
}

.results .log-button{
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 20px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #1a73e8;
    border: 1px solid transparent;
    text-decoration: none;
    color: #fff;
    margin-left: 8px;
    white-space: nowrap;
}

.results .second-line{
    color: #70757a;
    font-size: 14px;
    width: 690px;
    font-family: Google Sans,arial,sans-serif;
    height: 58px;
    padding: 0;
    position: relative;
    z-index: 126;
    white-space: nowrap;
    border-bottom: 1px solid #ebebeb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
}

.results .mark-text{
    margin-left: 184px;
    display: flex;
}


.results .styl{
    color: #5f6368;
    padding: 17px 12px 11px 10px;
    height: 16px;
    line-height: 16px;
    margin: 11px 1px 0;
}

.results .wszystko{
    color: #1a73e8; 
    padding: 17px 12px 11px 10px;
    height: 16px;
    line-height: 16px;
    margin: 11px 1px 0;
    border-bottom: 4px solid #1a73e8 ;
}

.results .lupka{
   width: 16px;
   height: 20px;
   vertical-align: middle;
}

.results .wido-photo{
    display: inline-block;
    fill: currentColor;
    color: #5f6368;
    width: 16px;
    height: 22px;
   vertical-align: middle;
}

.results .grafika-photo{
    display: inline-block;
    fill: currentColor;
    color: #5f6368;
    width: 16px;
    height: 16px;
   vertical-align: middle;
}

.results .wideo-photo{
    display: inline-block;
    fill: currentColor;
    color: #5f6368;
    width: 16px;
    height: 16px;
   vertical-align: middle;
}

.results .mapy-photo{
    display: inline-block;
    fill: currentColor;
    color: #5f6368;
    width: 16px;
    height: 16px;
   vertical-align: middle;
}

.results .wiecej-photo{
    display: inline-block;
    fill: currentColor;
    color: #5f6368;
    width: 16px;
    height: 16px;
   vertical-align: middle; 
}


.results .three-line{
    background: #fff;
    width: 100%;
    /*height: 43px;*/
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.results .cities{
    font-family: Google Sans,arial,sans-serif;
    display: inline;
}

.results .search-time{
    margin-left: 184px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Google Sans,arial,sans-serif;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 8px;
    color: #70757a;
}

.results .wyszukiwania{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 264px;
    margin-left: 180px;
    width: 652px;
}

.results .w{
    width: 600px;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.2;
    text-align: left;
}

.results .link{
    padding-bottom: 2px;
    padding-top: 1px;
}

.results .naglowek-wyszukiwania{
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 3px;
    margin-top: 0px;
    padding-top: 5px;
    font-size: 20px;
    font-weight: normal;
    color: #1a0dab;
}

.results .opis{
    line-height: 1.58;
    word-wrap: break-word;
    color: #4d5156;
}
.results .podobne-wyszukiwania{
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.3;
    color: #202124;
    font-weight: normal;
}

.results .tabelka{
    margin-left: -8px;
    margin-right: -8px;
    padding: 12px 0 0 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

.results .tabelka-col{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.results .el{
    align-items: center;
    background-color: #f1f3f4;
    border-radius: 100px;
    box-sizing: border-box;
    display: flex;
    margin: 4px 8px;
    max-height: none;
    min-height: 48px;
    padding: 0 25px;
    position: relative;
}

.results .tabelka-col .el .b{
    overflow-wrap: break-word;
    font-size: 16px;
}

.results .mark{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='rgba(0,0,0,.54)' d='M20.49 19l-5.73-5.73C15.53 12.2 16 10.91 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.41 0 2.7-.47 3.77-1.24L19 20.49 20.49 19zM5 9.5C5 7.01 7.01 5 9.5 5S14 7.01 14 9.5 11.99 14 9.5 14 5 11.99 5 9.5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border-radius: 4px;
    height: 20px;
    padding: 10px;
    width: 20px;
}

.results .gooooogle{
    border-collapse: collapse;
    text-align: left;
    margin: 30px auto 30px;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.results tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.results .top{
    vertical-align: top;
}

.results .last_line{
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    background: #f2f2f2;
    line-height: 40px;
    padding-bottom: 12px;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
}

.results .country{
    border-bottom: 1px solid #dadce0;
    font-size: 14px;
    padding: 0px;
}

.results .country-text{
    color: rgba(0,0,0,.54);
    padding-left: 27px;
    margin-left: 180px;
}

.results .pl{
    font-size: 15px;
}

.results .town{
    visibility: visible;
    display: inline-block;
    margin-left: 13px;
    padding-left: 16px;
    border-left: 1px solid #dadce0;
    line-height: 15px;
    color: #70757a;
    font-size: 14px;
}

.results .big-dot{
    background: #70757a;
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin: 6px 4px 9px 0;
    vertical-align: middle;
    width: 10px;
}

.results .city-name{
    color: #3c4043;
    font-weight: bold;
}

.results .inne{
    height: 40px;
}
.results .inne-text{
    margin-left: 180px;
}

.results .fi{
    color: #70757a;
    text-decoration: none;
    white-space: nowrap;
    padding-left: 27px;
}
