<!DOCTYPE html>
<html>
  <head>
    <title>My first Vue app</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      Enters clicked: {{ enterClicked }}, googleSearch: {{ googleSearch }}
      <v-autocompleter
        :value="googleSearch"
        @input="googleSearch = $event"
      ></v-autocompleter>
      <v-autocompleter
        v-model="googleSearch"
        @enter="enterClicked++"
      ></v-autocompleter>
    </div>

    <script>
      Vue.component("v-autocompleter", {
        data: function () {
          return {
            count: 0
          };
        },
        props: {
          value: {
            type: String,
            default: ""
          }
        },
        template: `<div>
          <input
            :value="value"
            type="text"
            @input="$emit('input', $event.target.value)"
            @keyup.enter="$emit('enter')"/>
          <ul>
            <li v-for="letter in value">Jakas lista {{ letter }}</li>
          </ul>
        </div>`
      });
      var app = new Vue({
        el: "#app",
        data: {
          enterClicked: 0,
          googleSearch: "test"
        }
      });
    </script>
  </body>
</html>